 <div class="">
 <div class="row">
     <div class="col s2 green lighten-5 mainContainer">
        <div class="row">
            <div class="col s12 center-align">
                <img class="circle fotoPerfil" src="/assets/generic_user_pic.jpg" alt="imagen de prefil">
            </div>
            <div class="col s12 center-align">
                <h6><%= typeof cliente.nombre != 'undefined' ? cliente.nombre : '' %></h6>
            </div>
            <div class="col s12">
                <hr>
            </div>
            <div class="row sideNavBtnContainer">
               <button class="btn btn-large waves-effect col s12 sideNavBtn green lighten-3" style="margin-top: 40px;">Ver perfil</button>
               <button onclick="cambiarPantalla('busquedas')" class="btn btn-large waves-effect col s12 sideNavBtn green lighten-5">Buscar perfiles</button>
               <button onclick="cambiarPantalla('chat')" class="btn btn-large waves-effect col s12 sideNavBtn green lighten-5">Chat</button>
               <button onclick="cambiarPantalla('index')" class="btn btn-large waves-effect col s12 sideNavBtn red lighten-3 btn_cerrarSesion" style="margin-top: 320px;">Cerrar sesión</button>
            </div>
        </div>
        <div class="col s12 full-heigth-3">

        </div>
     </div>
     <div class="col s10 mainContainer">
         <div class="container">
             <h3 id="nombreUsuarioTitulo"><%= typeof cliente.nombre != 'undefined' ? cliente.nombre : '' %></h3>
             <form action="/authUsuarios/main" method="post">
                <div class="input-field col s12">
                    <input oninput="cambiarNombre()" type="text" id="nombre" name="nombre" class="validate" value="<%= typeof cliente.nombre != 'undefined' ? cliente.nombre : '' %>">
                    <label for="nombre">Nombre</label>
                </div>
                <div class="col s12">
                    <h5>Tipo de usuario</h5>
                </div>
                <div class="input-field col s12">
                    <select name="rol">
                        <option value="" disabled selected>¿Qué tipo de usuario eres?</option>
                        <option value="comprador">Comprador</option>
                        <option value="proveedor">Proveedor</option>
                        <option value="distribuidor">Distribuidor</option>
                    </select>
                    <label>Tipo de usuario</label>
                </div>
                <div class="input-field col s12">
                    <input type="text" name="capacidad" id="capacidad" class="validate" value="<%= typeof cliente.capacidad != 'undefined' ? cliente.capacidad : '' %>">
                    <label for="capacidad">Capacidad (kg)</label>
                </div>
                <div class="col s12">
                    <h5>Información de contacto</h5>
                </div>
                <div class="input-field col s6">
                    <input type="email" readonly name="email" id="email" class="validate"  value="<%= typeof cliente.id != 'undefined' ? cliente.id : '' %>">
                    <label for="email">Correo electrónico</label>
                </div>
                <div class="input-field col s6">
                    <input type="number" name="telefono" id="telefono" class="validate input-telefono" style="-webkit-appearance: none" value="<%= typeof cliente.telefono != 'undefined' ? cliente.telefono : '' %>">
                    <label for="telefono">Número telefónico</label>
                </div>
                <div class="input-field col s12">
                    <input type="text" id="paginaWeb" name="paginaWeb" class="validate" value="<%= typeof cliente.paginaWeb != 'undefined' ? cliente.paginaWeb : '' %>">
                    <label for="paginaWeb">Página web</label>
                </div>
                <div class="col s12">
                    <h5>Información de la empresa</h5>
                </div>
                <div class="input-field col s12">
                    <textarea class="materialize-textarea" name="direccion" id="direccion" cols="30" rows="10"><%= typeof cliente.direccion != 'undefined' ? cliente.direccion : '' %></textarea>
                    <label for="direccion">Dirección</label>
                </div>
                <div class="input-field col s12">
                    <textarea class="materialize-textarea" name="mision" id="mision" cols="30" rows="10"><%= typeof cliente.mision != 'undefined' ? cliente.mision : '' %></textarea>
                    <label for="mision">Misión</label>
                </div>
                <div class="input-field col s12">
                    <textarea class="materialize-textarea" name="vision" id="vision" cols="30" rows="10"><%= typeof cliente.vision != 'undefined' ? cliente.vision : '' %></textarea>
                    <label for="vision">Visión</label>
                </div>
                <button type='submit' id="actualizarPerfilInfo" name='actualizarPerfilInfo' class='col offset-s9 s3 btn waves-effect'>Guardar</button>
                
            </form>
         </div>
     </div>
 </div>
 </div>

 <script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, {});
    });

    function cambiarNombre(){
        var nombre = document.getElementById('nombre').value;
        if(nombre != ''){
            console.log(nombre);
        }
        var nombreH3 = document.getElementById('nombreUsuarioTitulo');
        nombreH3.innerHTML = nombre;
    }

    function cambiarPantalla(ventana){
        if (ventana === 'index'){
            window.location.href = "/";
        } else if(ventana === 'busquedas'){
            window.location.href = '/authUsuarios/busquedas';
        } else if(ventana === 'main'){
            window.location.href = '/authUsuarios/main';
        } else if (ventana === 'chat'){
            window.location.href = '/authUsuarios/chat';
        }  
    }
 </script>